# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore CLion-specific logs and config
clion-debug-log.txt
.idea/
cmake-build-debug/
cmake-build-release/

# Ignore Ninja build files
*.ninja
.ninja_log
.ninja_deps

# Ignore CMake cache and build files
CMakeFiles/
CMakeCache.txt
*.cmake